@using Model.Projections
@model IEnumerable<ContactBriefInfo>
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Contacts</h2>

@Html.ActionLink("New Contact", "Create", "Contacts")

<table>
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Company
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (ContactBriefInfo contact in Model) { 
        <tr>
            <td>
                @contact.FirstName
            </td>
            <td>
                @contact.LastName
            </td>
            <td>
                @contact.Company
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Contacts", new { id = contact.Id }, new { })
                |
                @Html.ActionLink("Delete", "Delete", "Contacts", new { id = contact.Id }, new { })
            </td>
        </tr>
    }
        </tbody>
</table>